---
interface Props {
  texto: string;
  href?: string;
  class: string;
  id?: string;
}
const { texto, id, href, class: className, ...rest } = Astro.props;
---

<a id={id} href={href} class:list={["button", className]} {...rest}>
  {texto}
</a>

<style>
  .button {
    padding: 0.5rem 1rem;
    background-color: var(--darkest-blue);
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: var(--transition-smooth);
  }
  .button:hover {
    background-color: var(--red);
  }
  .button:active {
    transform: var(--scale);
  }
</style>
