<div class="fondo">
</div>
<style>
  .fondo {
    background-image: url("/fondo.png");
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    height: 100svh;
    width: 100%;
    position: relative;
  }
</style>
