---
import Logo from "./Logo.astro";
---

<footer>
  <div class="logo-container">
    <Logo />
  </div>
</footer>
<style>
  footer {
    background-color: var(--orage);
    padding: var(--padding-container);
    display: flex;
    justify-content: center;
  }
  .logo-container {
    max-width: 200px;
  }
</style>
