---
import LogoCirculo from "@/components/LogoCirculo.astro";
import Slide from "@/components/Slide.astro";
---

<section class="hero">
  <div class="logo">
    <LogoCirculo />
  </div>
  <article class="pregunta">
    <div>
      <img src="cerebroanimadolow.gif" alt="Cerebro leyendo" />
    </div>
    <div>
      <h1>¿Qué tan interesante fue el último libro propuesto?</h1>
    </div>
  </article>
  <Slide />
</section>
<style>
  .hero {
    background-color: var(--yellow);
    padding: var(--padding-container);
  }
  .logo {
    max-width: 265px;
    color: var(--darkest-blue);
    margin: 1rem auto 0;
    svg {
      width: 100%;
    }
    @media (max-width: 400px) {
      max-width: 250px;
    }
  }
  .pregunta {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    div {
      flex: 1;
    }
    @media (max-width: 400px) {
      flex-direction: column;
      gap: 2rem;
      text-align: center;
      img {
        max-width: 70%;
        margin: 0 auto;
      }
    }
    img {
      width: 100%;
    }
    h1 {
      font-size: var(--headings-xl);
      color: var(--darkest-blue);
      line-height: 2.5rem;
      text-wrap: pretty;
      hyphens: none;
      font-weight: 900;
    }
  }
</style>
