---
import Button from "@/components/Button.astro";
---

<section>
  <h2>Sugiere el siguiente libro</h2>

  <form>
    <input
      type="text"
      name="libro"
      placeholder="Ingresa el nombre del libro y el autor"
      required
    />
    <Button id="btn-4" texto="Sugerir" class="enviar" />
  </form>
</section>
<style>
  section {
    padding: var(--padding-container);
    background: url("/fondo-blob.webp") no-repeat left top;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    view-timeline-name: --fade-form;
    view-timeline-axis: block;
    animation-timeline: --fade-form;
    animation-name: fade-in;
    animation-range: entry 0% cover 52%;
  }
  input[type="text"] {
    padding: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
    background-color: var(--white);
    color: var(--darkest-blue);
  }
  .enviar {
    background-color: var(--yellow);
    color: var(--darkest-blue);
    max-width: 200px;
    margin: 0 auto;
  }
</style>
