---
interface Props {
  title: string;
}
import Fondo from "@/components/Fondo.astro";
import GlobalStyles from "@/components/GlobalStyles.astro";
const { title } = Astro.props;
import "@fontsource-variable/raleway";
---

<!doctype html>
<html lang="en">
  <head>
    <GlobalStyles />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="fondo">
    <slot />
  </body>
</html>
<style>
  .fondo {
    background-image: url("/fondo.png");
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
  }
</style>
